<ul class="list-group">
    {% if stories is empty %}
        <span class="text-muted">None</span>
    {% else %}
        {% for story in stories %}
            <li class="list-group-item"><a href="{{ path('story_show', { storyId : story.id }) }}">{{ story.title }}</a></li>
        {% endfor %}
    {% endif %}
</ul>