<ul class="list-group">
    {% if locations is empty %}
        No results.
    {% else %}
        {% for location in locations %}
            <li class="list-group-item">
                <a href="{{ path('location_show', { locationId : location.id }) }}">{{ location.name }}</a>
                <span style="color: lightgrey;">{{ location.createdBy }}</span>
            </li>
        {% endfor %}
    {% endif %}
</ul>