{% extends 'base.html.twig' %}

{% block title %}Create Story - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <style>
        textarea#form_body {
            height: 400px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h2 class="page-header">Create Story</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}