{% extends 'base.html.twig' %}

{% block title %}Stories - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="page-header">Stories</h2>
    {{ include('story/partials/list.html.twig') }}
{% endblock %}
