{% extends 'base.html.twig' %}

{% block title %}Story #{{ id }} - {{ parent() }}{% endblock %}

{% block body %}
    <h2 class="page-header">{{ title }}</h2>
    <div id="post">
        {{ body }}
    </div>
{% endblock %}
